@keyframes heartbeat {          /*создаем анимацию*/
    form {                      /*кадр начала анимаций*/
        transform: scale(1);    /*задаем свойство*/
    }
    50% {                       /*кадр на середине анимаций*/
        transform: scale(1.4);
    }
    to {                        /*конечный кадр*/
        transform: scale(1);
    }
}