.reviews {
    padding-bottom: 70px;
    &__item {
        display: flex;
        justify-content: flex-start;
        &-margin {
            margin-top: 70px;
        }
    }
    &__img {
        width: 169px;
        height: 169px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 62px;
    }
    &__wrapper {
        width: 660px;
    }
    &__subtitle {
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
        span {
            color: #646464;
            font-size: 14px;
            font-weight: 300;
        }
    }
    &__descr {
        color: #0d0d0d;
        font-size: 16px;
        font-weight: 300;
        margin-top: 19px;
    }
    hr {
        margin: 50px 0;
        border-bottom: none;
    }
}